@{
    ViewBag.Title = "Index";
}

Liste des messages:
Date
De
Titre
Lu/Nonu
Corbeille
<style>
    .line
    {
        border-top:1px solid black;
        border-bottom:1px solid black;
        width:800px;
        height:27px;
        margin-left:100px;
        margin-right:100px
    }
    .mdate
    {
        padding:5px;
        width:100px;
        float:left;
    }
    .mexpediteur
    {
        padding:5px;
        width:150px;
        float:left
    }
    .mobjet
    {
        padding:5px;
        width:400px;
        float:left
    }
</style>
<div class="line">
    <div class="mdate">17/05/2013 18:55</div>
    <div class="mexpediteur">Monsieur DucDuc</div>
    <div class="mobjet">La taille de votre slip</div>
    <div class="mrep"></div>
    <div class="mprint"></div>
    <div class="msupr"></div>
</div>