@{
    ViewBag.Title = "Create";
}

@*<h2>Creation d'une annonce</h2>
<a href="#">Je dispose d'un logement a louer</a>
<a href="#">Je propose une place en colocation</a>
<a href="#">Je recherche une colocation</a>*@

@Html.Partial("Create/Location");
@Html.Partial("Menu/Menu");