

<div class="bannerTopContentGeneral">
    <div class="bannerTopContentRondille">
         <img src="~/img/icons/64x64/tiroir-icone.png" style="float:left;padding-right:10px" />
    </div>
    <div class="bannerTopContentTitlePartLeft">
    </div>
    <div class="bannerTopContentTitleMiddle">
        <div style="padding:10px">
            <span>Logement</span><br />
            @*<span>@ViewBag.TitleOnPage</span> *@
        </div>
       
    </div>
    <div class="bannerTopContentTitlePartRight">
    </div>
</div >

<div style="background-color:#FFF;overflow:auto;width:auto">
    Espace Logement, je veux:
    <ul>
        <li>Rechercher un/des colocataire(s)</li>
        <li>Rechercher une colocation</li>
        <li>Rechercher un logement</li>
        <li>Proposer un logement</li>
    </ul>
</div>